<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<script>
       function httpGetAsync(theUrl, callback){
             var xmlHttp = new XMLHttpRequest();
             xmlHttp.onreadystatechange = function(){ 
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                 callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous 
            xmlHttp.send(null);
      }
($(function(){
  $('#submit_button').click(function(){
     console.log("got here...");
     var product_id = $('#1').val()
     var count = $('#2').val()
     var url = "http://localhost:8080/customers?product="+product_id+"&"+"count="+count
     console.log("final URL-->>"+url);
     httpGetAsync(url,function(res){
         alert(res)
         res = JSON.parse(res);
         var inner_html = ""
         for(var i = 0 ; i < res.length; i++){
            inner_html = inner_html+"<li>"+res[i]+"</li>"
         }
         $("#customer_list").empty();
         $("#customer_list").append(inner_html);
     })
  })
}))()
</script>
<body class="w3-light-grey">


<!-- Navigation Bar -->
<ul class="w3-navbar w3-white w3-large">
  <li><a class="w3-red" href="#">Home</a></li>
  <li><a href="#service">Service</a></li>
  </ul>

<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:1500px;">
  <img class="w3-image" src="https://spacestud.io/wp-content/uploads/2015/05/Business-On-The-Go-featured-image.jpg" alt="ecommerce" style="min-width:1000px" width="1500" height="800">
  <div class="w3-display-left w3-padding w3-col l6 m8">
    <div class="w3-container w3-red">
      <h2><i class="w3-margin-right"></i>Product Details</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
      
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-half w3-margin-bottom">
            <select class="w3-select w3-border" name="option1" type="text" placeholder="One" id="1">
    <option value="" disabled selected>Product</option>
    <option value="1"></option>
    <option value="1523057">1523057</option>
    <option value="8537804">8537804</option>
    <option value="1400570">1400570</option>
    <option value="2788566">2788566</option>
    <option value="4530963">4530963</option>
    <option value="8349503">8349503</option>
    <option value="132348">132348</option>
    <option value="8443785">8443785</option>
  </select>
          </div>
          <div class="w3-half">
            <select class="w3-select w3-border" name="option2" type="text" placeholder="Two" id="2">
    <option value="" disabled selected>Num Customers</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
  </select>
            </div>
        </div>
        <div class="w3-row-padding" style="margin:8px -16px;">
          <div class="w3-half w3-margin-bottom">
            <input class="w3-select w3-border" name="option3" type="text" placeholder="offer value" id="3">
  </select>
          </div>
          <div class="w3-half">
          </div>
        </div>
        <button class="w3-btn w3-dark-grey" type="submit" id="submit_button"><i class="fa fa-search w3-margin-right"></i> Submit</button>
    </div>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1532px;">
  
  <div class="w3-container w3-margin-top" id="service">
    <h3>Service</h3>
    <p>The top most loyal customers of the above search</p>
  </div>
  
  <div class="w3-row-padding w3-padding-16 " style="margin:0 -16px;">
    <div class="w3-third w3-margin-bottom">
    <div class="w3-container" style="margin:32px 0;">
		<h2>Customer Names</h2>
  
  <ul class="w3-ul w3-red " id="customer_list" style="width:200%">
  </ul>

</div>
</div>
<!-- End page content -->
</div>      
  
<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
  <h5>FIND US</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-text-indigo"></i>
    <i class="fa fa-instagram w3-hover-text-purple"></i>
    <i class="fa fa-snapchat w3-hover-text-yellow"></i>
    <i class="fa fa-pinterest-p w3-hover-text-red"></i>
    <i class="fa fa-twitter w3-hover-text-light-blue"></i>
    <i class="fa fa-linkedin w3-hover-text-indigo"></i>
  </div>
  <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>


</body>
</html>
